@model Inventario.Models.ViewModel.EmpleadosViewModel
@{
    ViewBag.Title = "EditarEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">*@

@using (Html.BeginForm("EditarEmpleado", "CRUD", FormMethod.Post))
{
    <style>
        h4 {
            text-align: center;
        }
    </style>
    <div class="row">

        <div class="col-md-12">

            <div class="container">
                <label for=""></label>
                <div class="row col-xs-12">
                    <h1>EMPLEADO <span class="badge bg-secondary">Editar</span></h1>

                    <h4>Nombre</h4>
                    @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.nombre, null, new { style = "color:red" })
                    <br />

                    <h4>Codigo</h4>
                    @Html.TextBoxFor(d => d.codigo, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.codigo, null, new { Style = "color:red" })
                    <br />
                    <h4>  Posicion  </h4>
                    @Html.TextBoxFor(d => d.posicion, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.posicion, null, new { style = "color:red" })
                    <br />
                    <h4>Direccion</h4>
                    @Html.TextBoxFor(d => d.direccion, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.direccion, null, new { style = "color:red" })
                    <br />
                    <h4>Localidad</h4>
                    @Html.TextBoxFor(d => d.localidad, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.localidad, null, new { style = "color:red" })


                    <br />

                    <button value="Guardar" type="submit" class="btn btn-primary">Guardar</button>
                    @*<button href="~/CRUD/AgregarEquipo" type="button" class="btn btn-outline-secondary">Cancelar</button>*@
                    <a href="~/CRUD/EmpleadoIndex" class="btn btn-outline-secondary">Cancelar</a>

                </div>
            </div>


        </div>

    </div>
}

