@model List<Inventario.Models.ViewModel.ListModeloViewModel>
@{
    ViewBag.Title = "ModeloIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuario = (Inventario.Models.usuario)Session["Usuario"];
}

<div style="text-align:center">
    <h1> <span class="badge bg-warning">MODELOS</span></h1>
</div>
<div class="row" style="text-align:right;padding:5px;">
    <a href="~/CRUD/AgregarModelo" style="@(usuario.IdRol.ToString() == "1" ? "display:block" : "display:none")" class="btn btn-primary">Agregar</a>
</div>
<div class="row">
    <div class="col-md-12">

        <table id="tabla" class="table table-bordered table-hover dataTable dtr-inline">
            
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th ></th>
            </tr>
           
            <tbody>
                
            @foreach (var oElemento in Model)
            {
            <tr>
                <td>@oElemento.Id</td>
                <td>@oElemento.nombre</td>

                <td style="@(usuario.IdRol.ToString() == "1" ? "display:block" : "display:none")">
                    <a class="btn btn-primary" href="~/CRUD/EditarModelo/@oElemento.Id">Editar</a>
                    @*<a class="btn btn-danger" href="~/CRUD/EliminarModelo/@oElemento.Id">Eliminar</a>*@

                    <button type="button" class="btn btn-danger btnEliminar" data-model-id="@oElemento.Id" data-model="@oElemento.nombre">
                        Eliminar
                    </button>
                </td>
            </tr>

            }

                </tbody>
        </table>


        </div>

    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>

    $(".btnEliminar").click(function () {
            var id = $(this).attr("data-model-id");
            var nombre = $(this).attr('data-Model');

            swal({
                title: "Esta seguro?",
                text: "Desea eliminar el modelo " + nombre,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Si, Eliminar",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Content("~/CRUD/EliminarModelo/")' + id,
                        dataType: "json",
                        success: function (result) {
                            location.reload();
                        },
                        error: function (errormessage) {
                            swal("Oops...", "¡Algo salió mal! " + errormessage+"", "error");
                       }
                    });
                });
        });

    </script>
    <script>
        $(document).ready(function () {
            $("#tabla").DataTable();
        });
    </script>
